@import "./css_components/general.css";
@import "./css_components/header.css";
@import "./css_components/footer.css";
@import "./css_components/card.css";
@import "./css_components/profile.css";
@import "./css_components/colorSwitch.css";
