section.wrapper {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2.5rem;
}

form.add-question {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

form fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: none;
  width: 100%;
  position: relative;
}

form textarea,
form input {
  border-radius: 20px;
  border: 1px solid var(--primary-dark);
  padding: 1rem;
  outline: none;
  order: 2;
}

form fieldset > label {
  font-family: monospace;
  position: relative;
  margin-bottom: 0.25rem;
  left: 0.75rem;
  order: 1;
  transition: all 0.35s ease;
}

form textarea:focus,
form input:focus {
  box-shadow: 0px 0px 10px 2px var(--tertiary-color);
  outline: none;
}

form textarea.yellow:focus {
  box-shadow: 0px 0px 10px 2px yellow;
}

form textarea.red:focus {
  box-shadow: 0px 0px 10px 2px red;
}

form textarea:focus ~ label,
form input:focus ~ label {
  transform: translateY(-12px);
}

section.card.hidden {
  display: none !important;
}

form button[type="submit"] {
  display: inline-block;
  margin: 1rem auto;
  padding: 0.5em 1.25rem;
  text-align: center;
  cursor: pointer;
  background: var(--tertiary-color);
  border-radius: 20px;
  border: 1px solid var(--tertiary-color);
  transition: all 0.2s ease;
  font-family: monospace;
}

form button:hover {
  background: var(--primary-dark);
  color: var(--primary-white);
}

span.remaining-letters {
  order: 3;
  font-family: monospace;
  position: relative;
  margin-top: 0.25rem;
  height: 20px;
  right: 0.75rem;
  order: 3;
  transition: opacity 0.15s ease, transform 0.35s ease;
  opacity: 0;
  align-self: flex-end;
}

form textarea:focus ~ span,
form input:focus ~ span {
  transform: translateY(12px);
  opacity: 1;
}
