:root {
  --primary-color: #ffffe8;
  --secondary-color: #ffd4d4;
  --tertiary-color: #aacb73;
  --primary-dark: #161d22;
  --primary-white: white;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.2;
}

.show-for-sr {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.dark {
  background: var(--primary-dark);
  color: var(--primary-white);
}

body.home main,
body.bookmark main,
body.profile main,
body.add main {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 1.5rem 1.25rem 4.5rem;
  background: var(--primary-white);
  justify-items: center;
}

body.dark main {
  background: var(--primary-dark);
  color: var(--primary-white);
}

button.push-to-top {
  position: fixed;
  bottom: 4rem;
  right: 0.5rem;
  width: 35px;
  height: 35px;
  border: none;
  background: transparent;
  animation: bounce 1.75s infinite ease-in-out;
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
  transition: 0.25s ease-in;
}

button.push-to-top svg {
  transform: rotate(-135deg);
  color: var(--primary-dark);
  width: 100%;
  height: 100%;
  cursor: pointer;
  fill: currentColor;
  pointer-events: none;
}

button.push-to-top.fade-out {
  opacity: 0;
  pointer-events: none;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
